* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  padding-bottom: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem 'DM Sans', sans-serif;
}

#container {
  display: grid;
  place-content: center;
  padding: 20% 0% 0% 0%;
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0);
  border-radius: 1rem 1rem 0 0;
  text-align: center;
}

input[type='text'] {
  padding-top: 1.875rem;
  padding-left: 1.875rem;
  border: 1px solid #ddd;
  padding: 0.25rem 0.5px;
  width: 34%;
}

input[type='text']:focus {
  border: 0, 0625rem solid #000;
}

input[type='submit'] {
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border: 0.03625rem solid #000;
  background: #3b5998;
  color: #fff;
}

form {
  width: 100%;
  margin: 0 auto;
}

.p {
  padding-top: 1rem;
  padding-left: 1rem;
}
